# Python
__pycache__/
*.pyc
*.pyo
# Build
dist/
*.egg-info/
build/
pkg/
src/
*.tar.gz
*.pkg.tar.zst
.PKGINFO
.BUILDINFO
.MTREE
.venv/
.ruff_cache/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.env
*.env
